@import "tailwindcss";

@theme {
    /* FONT */
    --font-sans: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    /* BASE / BACKGROUND */
    --color-background: #F8FAFB;

    /* NEUTRAL (Slate) */
    --color-neutral-50: #FFFFFF;
    --color-neutral-100: #F1F5F9;
    --color-neutral-200: #E2E8F0;
    --color-neutral-300: #64748B;
    --color-neutral-400: #334155;
    --color-neutral-500: #0F172A;

    /* PRIMARY (Deep Teal) */
    --color-primary-50: #F0FDFA;
    --color-primary-100: #CCFBF1;
    --color-primary-200: #2DD4BF;
    --color-primary-300: #0F766E;
    --color-primary-400: #115E59;
    --color-primary-500: #134E4A;

    /* WARNING */
    --color-warning-50: #FFFBEB;
    --color-warning-100: #FEF3C7;
    --color-warning-200: #FCD34D;
    --color-warning-300: #F59E0B;
    --color-warning-400: #D97706;
    --color-warning-500: #92400E;

    /* ERROR */
    --color-error-50: #FEF2F2;
    --color-error-100: #FEE2E2;
    --color-error-200: #FCA5A5;
    --color-error-300: #EF4444;
    --color-error-400: #DC2626;
    --color-error-500: #991B1B;

    /* SUCCESS (Emerald) */
    --color-success-50: #ECFDF5;
    --color-success-100: #D1FAE5;
    --color-success-200: #6EE7B7;
    --color-success-300: #10B981;
    --color-success-400: #059669;
    --color-success-500: #064E3B;
}

@utility scrollbar-hide {
    &::-webkit-scrollbar {
        display: none;
    }

    scrollbar-width: none;
    -ms-overflow-style: none;
}

:root {
    --background: var(--color-background);
    --foreground: var(--color-neutral-500);
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: var(--font-sans);
}
